@model IEnumerable<BD.Models.HR.Job>

@{
    ViewBag.Title = "Index";
}

<h2>OUR JOBS</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.Employee.Surname)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Department.DepartmentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Employee.Department.DepartmentName)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.JobId }) |
            @Html.ActionLink("Details", "Details", new { id = item.JobId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.JobId })
        </td>
    </tr>
}

</table>
